<footer class="footer">
    <div class="footer-content">
        <div class="footer-icons">
            <a href="https://www.instagram.com/_patil__04/" target="_blank" class="footer-icon"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/Jayantpatil01" target="_blank" class="footer-icon"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/jayantpatil01" target="_blank" class="footer-icon"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-email">
            <p>Email: <a href="mailto:your.email@example.com">patiljayantt2023@gmail.com</a></p>
        </div>
        <div class="footer-copy">
            <p>&copy; 2024 JayantPatil. All rights reserved.</p>
        </div>
    </div>
</footer>
