/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


/* Header Styling */
header {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin-bottom: 10px;
    font-size: 36px;
    color: #1a202c;
}

/* Create Post Form Styling */
.create-post-form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-post-form .form-group {
    margin-bottom: 15px;
}

.create-post-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.create-post-form input[type="text"],
.create-post-form input[type="file"],
.create-post-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.create-post-form button {
    display: inline-block;
    background-color: #1a202c;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-post-form button:hover {
    background-color: #f39c12;
}





/* Responsive Styling */
@media (max-width: 768px) {

    /* Header adjustments */
    header h1 {
        font-size: 28px; /* Adjust font size for smaller screens */
    }

    /* Create Post Form adjustments */
    .create-post-form {
        margin: 20px; /* Adjust margins for smaller screens */
        padding: 15px; /* Adjust padding for better fit */
    }

    .create-post-form input[type="text"],
    .create-post-form input[type="file"],
    .create-post-form textarea {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .create-post-form button {
        font-size: 16px; /* Adjust button font size for better fit */
        padding: 8px 16px; /* Adjust button padding for smaller screens */
    }
}

@media (max-width: 480px) {

    /* Header adjustments for very small screens */
    header h1 {
        font-size: 24px; /* Further adjust font size */
    }

    /* Create Post Form adjustments for very small screens */
    .create-post-form {
        margin: 10px; /* Further adjust margins */
        padding: 10px; /* Further adjust padding */
    }

    .create-post-form input[type="text"],
    .create-post-form input[type="file"],
    .create-post-form textarea {
        font-size: 12px; /* Further adjust font size */
    }

    .create-post-form button {
        font-size: 14px; /* Further adjust button font size */
        padding: 6px 12px; /* Further adjust button padding */
    }
}
